<h2>
  Tasks for <%= @current_day_list.title %><br>
  <small>
    Completed Tasks: <%= @complete_task_count %>
    Incomplete Tasks: <%= @incomplete_task_count %>
  </small>
</h2>
<% if @incomplete_task_count == 0 %>
  <div class="col-md-4 col-md-offset-4">
    <p class="text-center">
      <%= image_tag("brentdance.gif")%>
    </p>
    <p class="text-center">
      All Tasks Done!
    </p>
  </div>
<% end %>

<div class="row"></div>

  <h3>Daily Tasks</h3>
  <%= render partial: "task_table", locals: {task: @daily_tasks} %>

</div>
