<% if @task.errors.any? %>
  <div class="alert alert-danger">
    <strong>Errors</strong>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @task do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <p>
    Leave
  </p>
  <div class="form-group">
    <%= f.label :date_schedule %>
    <%= f.date_field :date_schedule, value: (Date.yesterday unless !@task.new_record?), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :repeats %>
    <%= f.check_box :repeats, class: "form-control" %>
  </div>
<table class="table">
  <tr>
    <th><%= f.label :monday %></th>
    <th><%= f.label :tuesday %></th>
    <th><%= f.label :wednesday %></th>
    <th><%= f.label :thursday %></th>
    <th><%= f.label :friday %></th>
    <th><%= f.label :saturday %></th>
    <th><%= f.label :sunday %></th>
  </tr>
  <tr>
    <td><%= f.check_box :monday %></td>
    <td><%= f.check_box :tuesday %></td>
    <td><%= f.check_box :wednesday %></td>
    <td><%= f.check_box :thursday %></td>
    <td><%= f.check_box :friday %></td>
    <td><%= f.check_box :saturday %></td>
    <td><%= f.check_box :sunday %></td>
  </tr>
</table>
<div class="form-actions">
    <%= f.submit %>
  </div>

<% end %>
